# macOS
.DS_Store

# Emacs
*~
\#*\#

# Obsidian.md
.obsidian/*
!.obsidian/README.md

# Massive Wiki Builder
.massivewikibuilder/*

# Massive Wiki word count
.vault-stats

# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections